@rendermode InteractiveServer // Needed for interactive components!!!
@page "/"
@using MudBlazor
@using ChatUser
@inject NavigationManager NavigationManager

<PageTitle>Chat</PageTitle>

<style>
    .mud-card-content {
        overflow-y: auto;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hover-text {
        font-size: 40px;
        font-family: fantasy;
    }

    .hover-letter {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .hover-letter:hover {
        transform: scale(2);
        color:darkgrey;
        font-family:cursive;
        transform: translateX(-10px) rotate(-10deg) translateY(-10px);
    }
</style>

<MudCard Elevation="5">
    <MudCardContent Class="mud-card-content">
        <MudProgressLinear Color="Color.Primary" Striped="true" Size="Size.Large" Value="25" Class="my-7"
            Style="width: 100vh;" />

        <MudPaper Class="my-2 p-2" Elevation="0">
            <MudText Class="hover-text" Typo="Typo.body1">
                @foreach (var letter in "DESCREVA AS QUESTÕES QUE VOCÊ GOSTARIA DE GERAR".ToCharArray())
                {
                    @if (letter == ' ')
                    {
                        <span>&nbsp;</span>
                    }
                    else
                    {
                        <span class="hover-letter">@letter</span>
                    }
                }
            </MudText>
        </MudPaper>
    </MudCardContent>
    <MudCardActions Class="justify-center">
        <MudForm @ref="form">
            <MudTextField @bind-Value="currentMessage" T="string" Label="Message" Variant="Variant.Outlined"
                Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="AddChat"
                OnKeyDown="@(e => Enter(e))" Required="true" RequiredError="Message is required!" Lines="8" MaxLines="4"
                Style="width:100vh; resize: none;" />
        </MudForm>
    </MudCardActions>
</MudCard>

@code {
    private string currentMessage = "";
    private List<ChatMessage> chatMessages = new();
    private MudForm? form;

    private void AddChat(){
        form?.Validate();
        if (!string.IsNullOrWhiteSpace(currentMessage)){
            chatMessages.Add(new ChatMessage { Content = currentMessage });
            
            // Navegar para a página Upload.razor com o parâmetro de consulta
            NavigationManager.NavigateTo($"/upload?message={Uri.EscapeDataString(currentMessage)}");
            
            currentMessage = "";
            StateHasChanged();
        }
    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !e.ShiftKey) // Verifica se Enter foi pressionado sem Shift
        {
            AddChat();
        }
    }
}